/**
 * hello this is danielel
 */

#theHead{
    font-weight:bold;
    font-family:serif;
    font-size: 170px;
}
.container-fluid{
    background-color: #F3FABF;
}
.intro{
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -ms-transform:scale(0.7);
    transform:scale(0.7);
    margin:auto;
    width: 100%;
}
.first{
    font-weight:bold;
    width: 100%;
    padding: 50px 50px 50px 50px;
    margin: 100px 10px 10px 10px; 
    font-family: 'Trebuchet MS';
    background-image: url("http://www.intrawallpaper.com/static/images/background_patterns_lines_shadow_43860_1920x1080.jpg");
    color:#ffffff;
    font-size: 2rem;
}
.second{
    font-weight:bold;
    width: 100%;
    padding: 50px 50px 50px 50px;
    margin: 10px; 
    font-family: 'Trebuchet MS';
    background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcShLW0FwEJcmbAU8DwSwjJ42NmageUdywJXB7S8s3ZMNTnyIphrfg");
    color:#ffffff;
    font-size: 2rem;
}
.third{
    font-weight:bold;
    width: 100%;
    padding: 50px 50px 50px 50px;
    margin: 10px; 
    font-family: 'Trebuchet MS';
    background-image: url("http://media.caranddriver.com/images/media/51/where-have-all-the-hobby-stores-gone-inline-02-photo-514025-s-original.jpg");
    color:#ffffff;
    font-size: 2rem;
}
.fourth{
    font-weight:bold;
    width:100%;
    padding: 50px 50px 50px 50px;
    margin: 10px; 
    font-family: 'Trebuchet MS';
    background-image: url("http://www.foresee.com/assets/b2b-b2c-customer-experience.jpg");
    color:#f99900;
    font-size: 2rem;
}